---
- name: "Git Clone ohmyzsh/ohmyzsh"
  ansible.builtin.git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: "{{ansible_env.HOME}}/.oh-my-zsh"
  register: OMZ_REPO

- name: "Copy zshrc.zsh-template to {{ansible_env.HOME}}/.oh-my-zsh.zshrc"
  ansible.builtin.copy:
    src: "{{ansible_env.HOME}}/.oh-my-zsh/templates/zshrc.zsh-template"
    dest: "{{ansible_env.HOME}}/.oh-my-zsh.zshrc"
    remote_src: yes
  when: OMZ_REPO.changed

- name: "Set ENABLE_CORRECTION"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.oh-my-zsh.zshrc"
    line: ENABLE_CORRECTION="true"
    regexp: "^# ENABLE_CORRECTION.*"

- name: "Set HIST_STAMPS"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.oh-my-zsh.zshrc"
    line: HIST_STAMPS="mm/dd/yyyy"
    regexp: "^# HIST_STAMPS.*"

- name: "Set HYPHEN_INSENSITIVE"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.oh-my-zsh.zshrc"
    line: HYPHEN_INSENSITIVE="true"
    regexp: "^# HYPHEN_INSENSITIVE.*"

- name: "Set ZSH_THEME"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.oh-my-zsh.zshrc"
    line: ZSH_THEME="powerlevel10k/powerlevel10k"
    regexp: "^ZSH_THEME=.*"

- name: "Set Plugins"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.oh-my-zsh.zshrc"
    line: "plugins=({{PLUGINS|join(' ')}})"
    regexp: "^plugins=.*"

- name: "Set ZSH_TMUX_AUTOQUIT"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.zshenv"
    line: export ZSH_TMUX_AUTOQUIT=false
    create: yes

- name: "Set ZSH_TMUX_AUTOSTART"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.zshenv"
    line: export ZSH_TMUX_AUTOSTART=true
    create: yes

- name: "Set GCC_COLORS"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.zshenv"
    line: export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'
    create: yes

- name: "Source .oh-my-zsh.zshrc in {{ansible_env.HOME}}/.zshrc"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.zshrc"
    line: source "$HOME/.oh-my-zsh.zshrc"
    create: yes

- name: "Git Clone romkatv/powerlevel10k"
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ansible_env.HOME}}/.oh-my-zsh/custom/themes/powerlevel10k"

- name: "Symlink p10k.zsh to {{ansible_env.HOME}}/.p10k.zsh"
  ansible.builtin.file:
    path: "{{ansible_env.HOME}}/.p10k.zsh"
    src: "{{role_path}}/files/p10k.zsh"
    state: link
  register: P10K_ZSH

- name: "Source {{P10K_ZSH.dest}} in {{ansible_env.HOME}}/.zshrc"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.zshrc"
    line: "source {{P10K_ZSH.dest}}"
    create: yes
