---
- name: "Git Clone ohmyzsh/ohmyzsh"
  ansible.builtin.git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: "{{ansible_facts['env'].HOME}}/.oh-my-zsh"
  register: OMZ_REPO

- name: "Copy zshrc.zsh-template to {{playbook_dir}}/.generated/oh-my-zsh.zshrc"
  ansible.builtin.copy:
    src: "{{ansible_facts['env'].HOME}}/.oh-my-zsh/templates/zshrc.zsh-template"
    dest: "{{playbook_dir}}/.generated/oh-my-zsh.zshrc"
    remote_src: yes
  when: OMZ_REPO.changed

- name: "Set ENABLE_CORRECTION"
  ansible.builtin.lineinfile:
    path: "{{playbook_dir}}/.generated/oh-my-zsh.zshrc"
    line: ENABLE_CORRECTION="true"
    regexp: "^# ENABLE_CORRECTION.*"
  when: OMZ_REPO.changed

- name: "Set HIST_STAMPS"
  ansible.builtin.lineinfile:
    path: "{{playbook_dir}}/.generated/oh-my-zsh.zshrc"
    line: HIST_STAMPS="mm/dd/yyyy"
    regexp: "^# HIST_STAMPS.*"
  when: OMZ_REPO.changed

- name: "Set HYPHEN_INSENSITIVE"
  ansible.builtin.lineinfile:
    path: "{{playbook_dir}}/.generated/oh-my-zsh.zshrc"
    line: HYPHEN_INSENSITIVE="true"
    regexp: "^# HYPHEN_INSENSITIVE.*"
  when: OMZ_REPO.changed

- name: "Set ZSH_THEME"
  ansible.builtin.lineinfile:
    path: "{{playbook_dir}}/.generated/oh-my-zsh.zshrc"
    line: ZSH_THEME="powerlevel10k/powerlevel10k"
    regexp: "^ZSH_THEME=.*"
  when: OMZ_REPO.changed

- name: "Set Plugins"
  ansible.builtin.lineinfile:
    path: "{{playbook_dir}}/.generated/oh-my-zsh.zshrc"
    line: "plugins=({{PLUGINS|join(' ')}})"
    regexp: "^plugins=.*"

- name: "Git Clone romkatv/powerlevel10k"
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ansible_facts['env'].HOME}}/.oh-my-zsh/custom/themes/powerlevel10k"

- name: "Symlink p10k.zsh to {{ansible_facts['env'].HOME}}/.p10k.zsh"
  ansible.builtin.file:
    path: "{{ansible_facts['env'].HOME}}/.p10k.zsh"
    src: "{{role_path}}/files/p10k.zsh"
    state: link
  register: P10K_ZSH

- name: "Config Shell Env"
  ansible.builtin.blockinfile:
    path: "{{ZSH_ENV_SH.dest}}"
    create: yes
    block: |
      export ZSH_TMUX_AUTOSTART=true
      export ZSH_TMUX_AUTOQUIT=false
      source "{{playbook_dir}}/.generated/oh-my-zsh.zshrc"
      source "{{P10K_ZSH.dest}}"

