---
IDEA_TEMP_DIR: "/tmp/{{playbook_dir|basename}}/ansible.roles/{{role_name}}"

IDEA_PLUGINS_BASE_DIR:
  linux: "{{ansible_facts['env'].HOME}}/.local/share/JetBrains"
  darwin: "{{ansible_facts['env'].HOME}}/Library/Application Support/JetBrains"

IDEA_PLUGINS_DIR:
  linux: "{{IDEA_PLUGINS_BASE_DIR['linux']}}/IntelliJIdea{{IDEA_VERSION.split('.')[:2]|join('.')}}"
  darwin: "{{IDEA_PLUGINS_BASE_DIR['darwin']}}/IntelliJIdea{{IDEA_VERSION.split('.')[:2]|join('.')}}/plugins"

IDEA_PLUGINS:
  - Key Promoter X
  - com.arcticicestudio.nord.jetbrains
  - com.github.copilot
  - google-java-format
  - org.jetbrains.bazel
