---
- name: "Create zsh-env.sh"
  ansible.builtin.copy:
    dest: "{{playbook_dir}}/.generated/zsh-env.sh"
    content: ""
    force: false
  register: ZSH_ENV_SH

- name: "Source Shared Shell Env"
  ansible.builtin.blockinfile:
    path: "{{ZSH_ENV_SH.dest}}"
    marker: "#### {mark} ANSIBLE MANAGED BLOCK - {{playbook_dir|basename}}/roles/{{role_name}} ####"
    block: source {{SHARED_ENV_SH.dest}}
    create: true

- name: "Add To User Shell Env"
  ansible.builtin.blockinfile:
    path: "{{ansible_facts['env'].HOME}}/.zshrc"
    marker: "#### {mark} ANSIBLE MANAGED BLOCK - {{playbook_dir|basename}}/roles/{{role_name}} ####"
    block: source {{ZSH_ENV_SH.dest}}
    create: true

