---
- name: "Create {{IDEA_TEMP_DIR}}"
  ansible.builtin.file:
    path: "{{IDEA_TEMP_DIR}}"
    state: directory

- name: Install IntelliJ IDEA
  ansible.builtin.include_tasks: "{{ansible_facts['system']|lower}}.yaml"

- name: "Create IntelliJ IDEA Plugins Directory"
  ansible.builtin.file:
    path: "{{IDEA_PLUGINS_DIR[ansible_facts['system']|lower]}}"
    state: directory
    mode: "0775"
  register: IDEA_CURRENT_PLUGINS_DIR

- name: "Install Plugins"
  ansible.builtin.include_tasks: plugin.yaml
  loop: "{{IDEA_PLUGINS}}"
  loop_control:
    loop_var: idea_plugin
