---
- name: "Install gnupg"
  community.general.homebrew:
    state: latest
    name: gnupg

- name: "Set GPG_TTY"
  ansible.builtin.blockinfile:
    path: "{{SHARED_ENV_SH.dest}}"
    create: yes
    marker: "#### {mark} ANSIBLE MANAGED BLOCK - {{playbook_dir|basename}}/roles/{{role_name}} ####"
    block: export GPG_TTY=$(tty)

- name: "Setup For {{ansible_facts['system']}}"
  ansible.builtin.include_tasks: "{{ansible_facts['system']|lower}}.yaml"

