---
- name: "Install podman"
  community.general.homebrew:
    state: latest
    name: podman

- name: "Check Existing podman machine"
  ansible.builtin.shell: "podman machine list --quiet"
  register: PODMAN_MACHINES
  changed_when: false

- name: "Init podman machine"
  ansible.builtin.shell: "podman machine init"
  when: PODMAN_MACHINES.stdout_lines|length == 0

- name: "Check if running in a VM"
  ansible.builtin.shell: "sysctl -n kern.hv_vmm_present"
  register: HV_VMM_PRESENT
  changed_when: false

- name: "Check if podman machine is running"
  ansible.builtin.shell: |
    podman machine list | grep --quiet 'Currently running'
  register: PODMAN_MACHINE_RUNNING
  changed_when: false
  failed_when: false

- name: "Start podman machine"
  ansible.builtin.shell: "podman machine start"
  when:
    - HV_VMM_PRESENT.stdout == "0"
    - PODMAN_MACHINE_RUNNING.rc != 0

