---
- name: "Create {{RUSTUP_TEMP_DIR}}"
  ansible.builtin.file:
    path: "{{RUSTUP_TEMP_DIR}}"
    state: directory

- name: "Download rustup Installer"
  ansible.builtin.get_url:
    url: "https://sh.rustup.rs"
    dest: "{{RUSTUP_TEMP_DIR}}"
    mode: "0755"
  register: RUSTUP_INSTALLER

- name: "Install rustup"
  ansible.builtin.shell:
    executable: "/usr/bin/zsh"
    cmd: "{{RUSTUP_INSTALLER.dest}} -y --no-modify-path"
  when: RUSTUP_INSTALLER.changed

- name: "Config zsh Environment"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.zshrc"
    line: source {{role_path}}/files/cargo.sh
    create: yes

- name: "Config bash Environment"
  ansible.builtin.lineinfile:
    path: "{{ansible_env.HOME}}/.bashrc"
    line: source {{role_path}}/files/cargo.sh
    create: yes

- name: "List Installed Packages"
  ansible.builtin.shell:
    executable: "/usr/bin/zsh"
    cmd: |
      source {{role_path}}/files/cargo.sh
      cargo install --list | grep --extended-regex --only-matching --color=never '^[^ ]*' || echo 'N/A'
  register: CARGO_INSTALLED_VERSIONS
  changed_when: false

- name: "Install Cargo Packages"
  ansible.builtin.shell:
    executable: "/usr/bin/zsh"
    cmd: |
      source {{role_path}}/files/cargo.sh
      cargo install {{cargo_package}}
  loop: "{{CARGO_PACKAGES}}"
  loop_control:
    loop_var: cargo_package
  when: cargo_package not in CARGO_INSTALLED_VERSIONS.stdout_lines

