---
- name: "Create {{CLAUDE_TEMP_DIR}}"
  ansible.builtin.file:
    path: "{{CLAUDE_TEMP_DIR}}"
    state: directory

- name: "Download claude-code installer"
  ansible.builtin.get_url:
    url: https://claude.ai/install.sh
    dest: "{{CLAUDE_TEMP_DIR}}"
  register: CLAUDE_INSTALLER

- name: "Install claude-code"
  ansible.builtin.script: |
    {{ CLAUDE_INSTALLER.dest }}
  when: CLAUDE_INSTALLER.changed

- name: "Config Shell Env"
  ansible.builtin.blockinfile:
    path: "{{SHARED_ENV_SH.dest}}"
    create: yes
    marker: "#### {mark} ANSIBLE MANAGED BLOCK - {{playbook_dir|basename}}/roles/{{role_name}} ####"
    block: source {{role_path}}/files/claude-code.sh

