---
- name: "Setup Shell Env For Homebrew"
  ansible.builtin.blockinfile:
    path: "{{SHARED_ENV_SH.dest}}"
    marker: "#### {mark} ANSIBLE MANAGED BLOCK - {{playbook_dir|basename}}/roles/{{role_name}} ####"
    create: yes
    block: |
      eval "$(/opt/homebrew/bin/brew shellenv)"
      export PATH="$(brew --prefix)/opt/gnu-tar/libexec/gnubin:$PATH"
      export PATH="$(brew --prefix)/opt/gnu-getopt/bin:$PATH"

- name: "Install Homebrew Casks"
  community.general.homebrew_cask:
    accept_external_apps: yes
    state: latest
    name: "{{HOMEBREW_CASK_PACKAGES}}"

- name: "Install {{ansible_facts['distribution']}} Packages"
  ansible.builtin.package:
    state: latest
    name: "{{HOMEBREW_PACKAGES}}"

