---
- name: "Check include.path"
  community.general.git_config_info:
    scope: global
    name: include.path
  register: GITCONFIG_INCLUSION

- name: "Add include.path {{GITCONFIG_PATH}}"
  community.general.git_config:
    scope: global
    name: include.path
    value: "{{GITCONFIG_PATH}}"
    state: present
  when: GITCONFIG_INCLUSION.config_values is not contains(GITCONFIG_PATH)

- name: "Check user.signingkey"
  community.general.git_config_info:
    scope: global
    name: user.signingkey
  register: signingkey

- name: "Set user.signingkey"
  community.general.git_config:
    scope: global
    name: user.signingkey
    value: "{{ansible_facts['env'].GIT_USER_SIGNINGKEY}}"
    state: present
  when:
    - signingkey.config_value|length == 0
    - ansible_facts['env'].GIT_USER_SIGNINGKEY is defined

