---
- name: "Install NeoVim"
  community.general.homebrew:
    state: latest
    name: neovim

- name: "Symlink {{NEOVIM_CONFIG_DIR}}"
  ansible.builtin.file:
    src: "{{role_path}}/files/nvim"
    path: "{{NEOVIM_CONFIG_DIR}}"
    state: link
    force: true

- name: "Create pyenv Virtualenv For NeoVim"
  ansible.builtin.shell:
    executable: /bin/bash
    cmd: |
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
      pyenv virtualenv {{PYTHON_VERSIONS[-1]}} neovim
  args:
    creates: "{{ansible_facts['env'].HOME}}/.pyenv/versions/neovim"

- name: "Install pynvim In NeoVim Virtualenv"
  ansible.builtin.shell:
    executable: /bin/bash
    cmd: |
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
      pyenv activate neovim
      pip install --upgrade pynvim
  changed_when: false

- name: "Config Shell Env"
  ansible.builtin.blockinfile:
    path: "{{SHARED_ENV_SH.dest}}"
    create: yes
    marker: "#### {mark} ANSIBLE MANAGED BLOCK - {{playbook_dir|basename}}/roles/{{role_name}} ####"
    block: source {{role_path}}/files/nvim.sh
