name: Roles
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      container:
        required: false
        type: string
        default: ''
jobs:
  find-roles:
    runs-on: ubuntu-latest
    outputs:
      roles: ${{ steps.affected.outputs.roles }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - id: affected
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            base_ref="origin/${{ github.base_ref }}"
          else
            base_ref="HEAD~1"
          fi
          roles=$(./scripts/find-affected-roles.sh "$base_ref")
          echo "roles=$roles" >> "$GITHUB_OUTPUT"
  apply-role:
    runs-on: ${{ inputs.runs-on }}
    container: ${{ inputs.container }}
    needs: find-roles
    if: ${{ needs.find-roles.outputs.roles != '[]' }}
    timeout-minutes: 10
    strategy:
      matrix:
        role: ${{ fromJson(needs.find-roles.outputs.roles) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - id: setup-debian
        if: "${{ startsWith(inputs.container, 'debian') || startsWith(inputs.container, 'ubuntu') }}"
        run: |
          apt-get update && apt-get install -y sudo
      - id: setup-fedora
        if: "${{ startsWith(inputs.container, 'fedora') }}"
        run: |
          dnf install dnf-plugins-core --assumeyes
      - id: apply
        run: |
          ./setup.sh --tags ${{ matrix.role }}

